.container {
  padding-top: 50px;
  width: 100%;

  color: #528e86;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 200px;
  border-radius: 4px;
  background: #dcdde2;

  text-align: center;
}
.description {
  text-align: center;
}
.avatar {
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 100%;

  display: block;
  border-radius: 30%;

  background-color: #b7ced2;
}
.name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  /* color: #dbdad6; */
}
.tag {
  margin-top: 20px;
  font-size: 16px;

  /* color: #dbdad6; */
}
.location {
  margin-top: 20px;
  font-weight: 700;
}

.stats {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
}
.label {
  font-weight: 700;
  border-bottom: 1px solid;
}
.quantity {
  /* text-decoration: none; */
}
